name: "Terraform CI/CD"

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      action:
        description: 'Selecciona la acción (apply/destroy)'
        required: true
        default: 'apply'
        type: choice
        options:
        - apply
        - destroy

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-west-2"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Action
        # Aquí usamos la opción que elegiste en el botón (o apply por defecto en el push)
        run: |
          ACTION=${{ github.event.inputs.action || 'apply' }}
          terraform $ACTION -auto-approve